{% extends "bootstrap/base.html" %}

{% block title %}
    Upload
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('.static', filename='signin.css') }}">
{% endblock %}

{% block content %}
    <div style="margin: 20%">
        <form method=POST enctype=multipart/form-data action="{{ url_for('f_upload') }}">
            {{ form.hidden_tag }}
            {{ form.photo }}
            {{ form.submit }}
        </form>
        {% if file_url %}
            <img src="{{ file_url }}">
        {% endif %}
    </div>
{% endblock %}